@import '../../__variables.scss';

*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    max-width: 100%;
    height: auto;
    vertical-align: middle;
    font-style: italic;
    background-repeat: no-repeat;
    background-size: cover;
}

body {
    font-family: $ff-txt;
}

header {
    display: none;
}

.login-main {
    
    padding: 4rem;
    
    min-height: 100svh;

    background: rgb(0,84,105);
    background: radial-gradient(circle, darken($clr-blue, 10%) 0%, $clr-blue 100%);

    .logo {
        aspect-ratio: 1 / 1;
        object-fit: cover;
        width: 200px;
    }
}
