.card {
    flex-basis: calc(33.3333% - 20px);
    margin: 10px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    text-align: center;
    transition: transform 0.3s ease;

}

.card:hover {
    transform: scale(1.05);
}

.card-title {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
    color: black;
    text-align: justify;

}

.card-content {
    font-size: 16px;
    color: #555;
    text-align: justify;
    font-weight: bold;
}

.card p {
    text-align: justify;

}

.card-title p {
    color: #cc2020;
    font-style: italic;

}

.texte{
    color: orange;
    font-style: italic;
}

.title-row{
    justify-content: space-between;
    display: flex;
    align-items: center;
    padding-bottom: 8px;
    border-bottom:black solid 1px;
}

.cmp {
    display: flex;
    align-items: center;
    gap: 20px;
    text-wrap: wrap;

    
}

.cmp div {
    margin-right: 10px; 
}

.cmp p {
    margin: 0;
    color: white;
    background-color: rgb(35, 83, 116);
    border-radius: 40px;
    transition: background-color 0.3s ease;
    padding: 7px;
}

.cmp:hover {
    color: white;
    transition: background-color 0.3s ease;
}
