@import '../../__variables.scss';

.admin-dashboard {
    
    min-height: $height-main;
    background-color: $clr-grey;
    font-family: $ff-txt;

    display: flex;

    .view-dashboard {

        padding: 2rem;

        width: 80%;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 20px;

        max-height: calc($height-main - 4rem);
        overflow-y: scroll;
    }

}

