@import '__fonts.scss';

$clr-white: rgba(254, 254, 254, 1);
$clr-blue: rgba(0, 126, 157, 1);
$clr-dark-blue: rgba(1, 5, 70, 1);
$clr-dark-blue-faded: rgba(1, 5, 70, .75);
$clr-orange: rgba(255, 107, 0, 1);
$clr-grey: rgba(244, 244, 244, 1);

$ff-txt: Roboto;


// Hauteur de l'écran - hauteur du header
$height-main: calc(100svh - 154px);

// Tailles responsives
$tablet: 768px;
$mobile: 480px;