@import '__variables.scss';

body{
  min-height: 100svh;
}

#root{
  min-height: 100svh;
  height: 100%;
}

.App{
  min-height: 100svh;
  height: 100%; 
}

h1{
  color: red;
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
  font-style: italic;
  background-repeat: no-repeat;
  background-size: cover;
}

ul {
  margin: 0;
  padding: 0;
}